@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --main-col: rgba(70, 128, 219, 0.70);
  --dark-var-1: #181a1b;
  --dark-var-2: #43484b;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(22, 22, 22, 0.4);
}

/* Container */
.container {
  min-width: 580px;
  min-height: 304px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 25px 50px 25px 0px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgba(70, 128, 219, 0.70);
}

.input-container {
  position: relative;
  top: 0;
  height: 100%;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Menu */
.menu {
  background-color: var(--dark-var-1);
  padding: 10px;
  margin-right: 50px;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 10px 1px 20px -10px #000000; 
  box-shadow: 10px 1px 20px -10px #000000;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}

.menu-list button {
  margin: 5px 0px 5px 0px;
}


/* Form */
.form {
  width: 100%;
  border-radius: 5px;
  background-color: var(--dark-var-1);
  overflow: hidden;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

input[type=date] {
  width: 30%;
  cursor: pointer;
}

input[type=number] {
  background-color: var(--dark-var-2);
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 20px;
  width: 15%;
}

.custom-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  margin: 20px;
}

.custom-btn {
  border-radius: 0;
  background-color: var(--dark-var-2);
  margin-top: 41.5px;
}

/* Icons */
.fas {
  font-size: 25px;
}

/* Button */
button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background: var(--dark-var-1);
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover {
  filter: brightness(90%);
}

.icon-btn {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

.icon-btn:hover {
  transform: scale(1.2);
}

/* Views */
.list {
  /* background-color: var(--dark-var-2); */
  display: flex;
  justify-content: baseline;
  border-radius: 9px;
}

.list li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.list li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

.time-divider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Complete */
.green-container {
  background-color: rgba(98, 213, 121, 0.85);
}

.complete {
  position: relative;
  top: 60px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color:hsl(143, 23%, 44%);
  }
  35% {
    color:hsl(143, 38%, 56%);
  }
  70% {
    color: hsl(143, 55%, 50%);
    transform: scale(1.5);
  }
  100% {
    color: hsl(143, 79%, 52%);
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  
  video {
    object-position: 50%;
    margin-top: -1px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 0px 20px 20px;
    margin: 10px;
  }

  .menu {
    border-radius: 0px 0px 10px 10px;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
    position: relative;
    top: -5.30rem; 
    -webkit-box-shadow: -1px 10px 20px -10px #000000; 
    box-shadow: -1px 10px 20px -10px #000000;
  }

  .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 2px;
  }

  .menu-list button {
    margin-top: 0;
  }

  .icon-btn {
    font-size: 10px;
  }

  .input-container {
    top: unset;
    flex-wrap: wrap;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .countdown ul {
    display: flex;
    flex-direction: row;
  }

  .form {
    width: unset;
  }

  input {
    font-size: 14px;
    width: 93%;
  }

  input[type=text] {
    font-size: 14px;
  }

  input[type=date] {
    font-size: 12px;
    width: 35%;
  }

  input[type=number] {
    font-size: 12px;
    width: 20%;
  }

  .fas {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .list li {
    font-size: 15px;
  }

  .list li span {
    font-size: 40px;
  }
}
